.sidebar {
  width: 30%;
  float: left;
  background-color: yellow;
}

img {
  float: right;
}

.my-class{
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  box-sizing: border-box;
}